version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    # environment:
      # Uncomment the lines below to set a username and password
      # MONGO_INITDB_ROOT_USERNAME: root
      # MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - mongo_network
    command: --wiredTigerCacheSizeGB 1

volumes:
  mongodb_data:
    name: mongodb_data

networks:
  mongo_network:
    driver: bridge 